* {
    margin: 0px;
}

body {
    background-image: url('./src/background-image2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

/**************************************
NAVIGATION
***************************************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, .3);
    padding: 10px;
}

.search {
    display: flex;
    place-content: center;
    gap: 10px;
}

#searchInput {
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgb(255, 255, 255, .8);
    padding: 5px;
}

.searchButton {
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, .8);
    color: rgba(0, 38, 255, 0.4);
}

/**************************************
NEWS
***************************************/
main {
    display: grid;
    place-content: center;
}

.location {
    text-align: center;
    margin: 30px;
    font-size: 30px;
}

.main-info {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 15px;
    /* border: 1px solid black; */
    text-align: center;
}
.main-news {
    display: flex;
    justify-content: center;
    gap: 25px;
    /* width: 200px; */
    /* border: 1px solid black; */
}

.weather-img {
    width: 40px;
    object-fit: contain;
}

.temp-info {
    font-size: 50px;
}

.temperature {
    margin-right: 5px;
}

.temp-info > sup {
    font-size: 30px;
}

.units {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
}

.weather-description {
    font-size: 20px;
}

.extras {
    display: flex;
    align-items: baseline;
    gap: 20px;
    /* font-size: 12px; */
}

/**************************************
FOOTER
***************************************/

.copyright {
    position: absolute;
    display: flex;
    justify-content: center;
    color: white;
    width: 100vw;
    /* bottom: 0px; */
    padding: 10px;
    gap: 5px;
  }