* {
    margin: 0px;
}

body {
    background-image: url('./src/background-image2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

/**************************************
NAVIGATION
***************************************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, .5);
    padding: 10px;
}

.search {
    display: flex;
    place-content: center;
    gap: 10px;
}

#searchInput {
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgb(255, 255, 255, .8);
    padding: 5px;
}

.searchButton {
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, .8);
    color: rgba(0, 38, 255, 0.4);
}

